* {
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
.GridContainer .EditForm {
    vertical-align: middle;
    text-align: center;
    width: 12px;
    cursor: pointer;
    padding: 0px;
}

.GridContainer .w-grid-border {
    padding: 5px 5px 5px 8px;
}

.GridContainer .HeaderTR {
    background-color: #e5f2fd
}

.GridContainer .ColValue, .GridContainer .ColHead {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
}
.GridContainer .fa-pen-to-square:hover {
    color: #d86018;
}

.GridContainer .ItemTR table tr td {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #dfdfdf;
}

.w-grid-button span{
    margin:0 5px;
    cursor:pointer;
}

.w-icon-disabled span {
    color: gray;
    cursor: not-allowed;
}
