/* Styles for the file upload container and drop area */
.file-upload-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 5px;
    text-align: center;
}

.file-upload-drop-area {
  /*  border: 2px dashed #ccc;
    padding: 5px;*/
    cursor: pointer;
    border-radius: 5px;
    /*width: 80%;*/ /* Change the width as per your requirement */
    margin: 0 auto; /* Center the element horizontally */
}

    .file-upload-drop-area p {
        margin: 0;
    }

/* Styles for the file list */
.file-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.file-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #ffffff;
}

.file-name {
    margin-right: 10px;
    padding: 5px;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}
span.file-name > a{
    color: #fff;
    text-decoration: none !important;
    font-weight: bold;
}
.file-link {
    color: black;
    text-decoration: none !important;
    font-weight: bold;
}
.remove-file {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

/* Styles for the progress bar */
.progress-bar {
    background-color: #007bff;
    height: 20px;
    width: 0;
    margin-top: 20px;
    border-radius: 5px;
    transition: width 0.2s ease-in-out;
}



.upload-button {
    /* Background color */
    background-color: #3498db;
    /* Text color */
    color: #fff;
    /* Padding */
    padding: 7px 10px;
    /* Border radius to make it rounded */
    border-radius: 5px;
    /* Box shadow for depth */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Cursor pointer on hover */
    cursor: pointer;
    /* Transition for smooth hover effect */
    transition: background-color 0.3s ease;
    margin-left:25px;
}

    /* Hover effect */
    .upload-button:hover {
        background-color: #2980b9;
    }
/* Styles for the message area */
.message {
    font-weight: bold;
    margin-top: 10px;
}

/*.newdropdownlist {*/
    /* CSS rules go here */
    /*background-color: #f0f0f0;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
}*/
   /* .newdropdownlist:hover {
        background-color: #3498db;
        color: #fff;
        border-color: #3498db;
    }*/

.file-input {
    cursor: pointer;
    border: 0.1px solid #000000;
    background-color: #f0f0f0;
    color: #333;
    padding: 4px;
    border-radius: 5px;
    /*font-size: 16px;*/
    transition: background-color 0.3s, border-color 0.3s;
    /*margin: 10px;*/
}

.allowedFile{
    font-size:7px;
    color:red;
    font-weight:bold;
}
.common-button {
    cursor: pointer;
}

 .common-button:hover 
 {
        background-color: blue;
  }

/*.financeCompany {*/
    /* Customize your styles here */
    /*background-color: #f0f0f0;
    color: #333;
    font-size: 16px;*/
    /* Add any other styles as needed */
/*}

.bgr{
   background : transparent;


}*/
